<div class="col-sm- " id="playerControls text-center">
    <div id="controlElements" class="text-center justify-content-center">
        <div class="row">
            <div class="col-md-12"><span id="author">Author</span><span> - </span><span id="songname">Song Name</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12" style="letter-spacing: 40px; font-size: 50px;">
                <i class="fa fa-fast-backward" aria-hidden="true"></i>
                <i class="fa fa-play" aria-hidden="true" id="playpause"></i>
                <i class="fa fa-fast-forward" aria-hidden="true"></i>
            </div>
        </div>
        <!--<div class="col-sm-1"></div>
        <div class="col-sm-1"></div>-->
    </div>
</div>



<script src="{{url_for('static', filename='files.js')}}"></script>