<br>
<div class="col-md-12 text-center" id="playerControls text-center" >
    <div class="row" style="font-size: 200%">
            <div class="col-md-12"><span id="author">Author</span><span> - </span><span id="songname">Song Name</span>
            </div>
    </div>
    <div id="controlElements " class="text-center row justify-content-center" style="font-size: 450%">
        <div class="col-md-2 col-md-offset-3"><i class="fa fa-fast-backward" aria-hidden="true"></i></div>
        <div class="col-md-2"><i class="fa fa-play" aria-hidden="true" id="playpause"></i></div>
        <div class="col-md-2"><i class="fa fa-fast-forward" aria-hidden="true"></i></div>
    </div>
</div>

<script src="{{url_for('static', filename='playing.js')}}"></script>